
body{
    height: 50%;
    margin: 0;
    background: linear-gradient(45deg,#afd6e9,white);
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
max-width: 800%;
margin: 0 auto;
overflow-x: auto;
}

table{
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1 );
    background-color: #fff;
}

th,
td{
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #000;
    border: 1px solid black;
    font-size: 16px;
}
 
th{
    text-align: left;
   background-color: rgb(179, 210, 236);
    color: #070202;
}


tbody th{
    background-color: rgb(179, 210, 236);
}

tbody tr:hover{
    background-color: rgba(255,255,255,0.3);
}
@media (max-width:768px){
    table{
        width: 100%;
        overflow-x: auto;
    }
}