/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #afd6e9, white);
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

/* Header styles */
.header {
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
}

.header .logo {
    cursor: pointer;
}

.header .navbar {
    display: flex;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header .navbar a:hover {
    color: #afafaf;
}

/* Table styles */
.container {
    padding: 2rem 9%;
    margin-top: 100px; /* Added margin to make space for the fixed header */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    background-color: #f2f2f2;
    color: #000000;
    border: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #58618a;
    color: #fff;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 2rem 9%;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, .1);
    text-align: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box {
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer .box h3 {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.footer .box a {
    display: block;
    font-size: 1.2rem;
    color: #555;
    padding: 1rem 0;
}

.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #333;
    border-top: .1rem solid #ddd;
}

.footer .credit span {
    color: #afafaf;
    cursor: pointer;
}

/* Scroll-to-top button styles */
.up-arrow-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #555;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
    z-index: 99;
}

.up-arrow-btn:hover {
    background-color: #777;
}
